body { font-family: 'Indie Flower', cursive; }

h1 { text-align: center; }

.button {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	margin: 16.5% 5%;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
	background-image: linear-gradient(top, #f4f1ee, #fff);
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.button:hover { cursor: pointer; }

.button span {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-size: 20px;
  	font-weight: bold;
}

.button.launch span { color: green; }
.button.abort span { color: red; }
.button.retry span { color: blue; }

.left-column,
.right-column {
	position: fixed;
	top: 0;
	width: 50%;
	height: 100%;
}


.left-column {
	left: 0;
	background-color: aliceblue;
}

.right-column {
	right: 0;
	background-color: #002156;
}

#countdown {
	display: none;
	position: fixed;
	top: 0;
	right: 24%;
	color: #fff;
	font-size: 80px;
	z-index: 1;
}

.control {
	position: relative;
	background-color: grey;
	top: 100px;
	margin: 0 auto;
	width: 50%;
	min-height: 200px;
	text-align: center;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(204,198,197,.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(204,198,197,0.5);
    box-shadow: 5px 5px 10px 0px rgba(204,198,197,0.5);
}

.control:before {
	position: absolute;
	top: -100px;
	left: 50%;
	width: 10px;
	height: 100px;
	background-color: red;
	content: '';
}

.instructions {
	position: absolute;
	bottom: 5%;
	width: 100%;
	text-align: center;
}

.instructions p {
	margin: 5px 0;
	font-size: 20px;
	font-weight: bold;
}

span.launch { color: green; }
span.abort { color: red; }
span.retry { color: blue; }

.messages {
	position: absolute;
	top: 5%;
	left: 5%;
	color: white;
	text-align: center;
}

.messages span {
	display: none;
	font-size: 70px;
}

.successmessage {
	display: none;
	position: absolute;
	top: -50%;
	left: 25%;
	color: white;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}

.stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #fff, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
}

.ground {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
    background: repeating-linear-gradient(
	   to right,
	   #4b8e55,
	   #4b8e55 1px,
	   #64ad6f 1px,
	   #64ad6f 2px
	);
}

.rocket {
	position: absolute;
	left: 40%;
	bottom: 40px;
	width: 150px;
	height: 150px;
	background: url('../img/rocket.png') no-repeat;
	background-size: contain;
	transition: bottom 10000ms;
}

.cloud {
	display: none;
	width: 70px; height: 30px;
	background: #fff;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	position: absolute; 
}

.cloud:before, .cloud:after {
	position: absolute; 
	background: #fff;
	width: 50px; height: 50px;
	position: absolute; top: -15px; left: 10px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	content: '';
}

.cloud.default {
	left: 27%;
	bottom: -20%;
}

.cloud.liftoff-1 { bottom: -15%; }
.cloud.liftoff-2 {
	bottom: -15%;
	right: 0;
}

.cloud.fail span {
	position: absolute;
	top: 0;
	left: 22%;
	font-size: 20px;
	font-weight: bold;
	z-index: 5;
}


body.body-state3 .rocket,
body.body-state4 .rocket {
	bottom: 1000px;
}

body.body-state6 .rocket { transition: none; }

.state3,
.state4,
.state5 {
	position: absolute;
	display: none;
	top: 50%;
	left: 0;
	width: 100%;
}

body.body-state2 #countdown { display: block; }
body.body-state3 .state3 { display: inline-block; }
body.body-state4 .state4 { display: inline-block; }
body.body-state5 .state5 { display: inline-block; }

body.body-state3 .messagestate3 { display: inline-block; }
body.body-state4 .messagestate4 { display: inline-block; }
body.body-state5 .messagestate5 { display: inline-block; }

body.body-state3 .cloud.default,
body.body-state4 .cloud.default { display: block; }
body.body-state4 .cloud.liftoff-1,
body.body-state4 .cloud.liftoff-2,
body.body-state4 .successmessage { display: block; }
body.body-state5 .cloud.fail { display: block; }

